<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>signup</filter-name>
        <filter-class>ru.anpilogoff_dev.controller.signup.SignUpFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>signup</filter-name>
        <url-pattern>/signup</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>ru.anpilogoff_dev.controller.signup.SignUpServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>







</web-app>
